<div class="alert alert-info" role="alert">
    <h4 class="alert-heading">{{ 'dedi_sylius_seo_plugin.ui.info_title'|trans }}</h4>
    <p>{{ 'dedi_sylius_seo_plugin.ui.info_description'|trans }}</p>
</div>