{% set form = hookable_metadata.context.form %}

{% if form.referenceableContent is defined %}
<button
        type="button"
        class="list-group-item list-group-item-action {% if hookable_metadata.configuration.active|default(false) %}active{% endif %}"
        data-bs-toggle="tab"
        data-bs-target="#seo-content"
        role="tab"
        {{ sylius_test_html_attribute('side-navigation-tab', 'seo-content') }}
>
    {{ 'dedi_sylius_seo_plugin.ui.seo'|trans }}
</button>
{% endif %}